/* StudentLists.css */
/* StudentLists.css */
.dataGrid .MuiDataGrid-root {
  /* background-color: #f0f0f0; Background color of the entire grid */
  padding: 20px;
}

.dataGrid .MuiDataGrid-columnsContainer {
  justify-content: center; /* Center align columns */
}

.dataGrid .MuiDataGrid-cell--textLeft {
  text-align: center !important; /* Center align cell content */
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.dataGrid .MuiDataGrid-columnHeaderTitle {
  font-weight: 600;
}

.dataGrid .MuiDataGrid-columnHeaderTitleContainer {
  text-align: center !important;
  display: flex !important;
  justify-content: center !important;
}

.name-column {
  text-align: left !important;
  display: flex !important;
  justify-content: flex-start !important;
}

.dataGrid .dataGrid_main {
  width: auto;
}

@media screen and (min-width: 1000px) {
  .dataGrid .dataGrid_main {
    width: calc(100% - 80px);
  }
}
